            @font-face 
            {
                font-family: "思源黑体";
                src: url("../0_Resoureces/font/思源黑体/思源黑体\ CN-NORMAL.otf"); /*设置本地字体读取的位置*/
            }
            @font-face
            {
                font-family: "思源臻宋";
                src:url("../0_Resoureces/font/思源屏显臻宋.ttf"); /*添加思源屏显臻宋字体*/
            }
            body /*如果什么都没有设置的用这个设置*/ 
            {
                font-size: 12pt;
                font-weight:lighter;
                color: black;
                font-family: 思源臻宋,Arial,Verdana,sans-serif;
                line-height: 15pt;
                padding-left: 5%;
                padding-right: 5%;
                padding-top: 5pt;
                text-align: left;

                /*测试背景图*/
                /* background: #ffffff url("../0_Resoureces/icon/bear.ico")  no-repeat top right; */
            }
            article
            {
                margin:0 11%;
                padding:1px;
                width:78%;
                /* background-color: #2381e0; */
            }
            /*导航样式*/
            nav
            {
                /* width:150px; */
                float:right;
                margin-top:12px;
                width:10%;
                padding:1px;
                position: sticky;
                top: 50%;  
                right: 0;  
                transform: translateY(-50%); /*导航栏垂直方向居中*/
                background-color: #f8f9fa;
            }
            aside
            {
                float:left;
                margin-top:12px;
                width:10%;
                padding:1px;
                position: sticky;
                top: 50%;  
                right: 0;  
                transform: translateY(-50%); /*导航栏垂直方向居中*/
                background-color: #f8f9fa;
            }
            h1 /*大标题*/
            {
                font-family: 思源黑体;
                font-size: 20pt;
                font-weight: bold;
                line-height: 20pt;
                text-align:center;
            }
            h2
            {
                font-size: 16pt;
                /* font-weight: bold; */
                line-height: 18pt;
            }
            h3
            {
                font-size: 14pt;
                /* font-weight: bold; */
                line-height: 16pt;
            }

            p,li /*最常用的字体大小,绝大部分文章都是这个大小,通过strong来加粗*/ 
            {
                font-size: 12pt;
                font-weight:lighter;
                line-height:15pt;
            }
            img /*图片*/
            {
                display: block;
                width:720pt;
                height:auto;
                object-fit:contain;
                border-width:2pt;
                border-color:forestgreen;
                border-style:inset;
            }
            div 
            {
                font-size: 12pt;
                font-weight: lighter;
                line-height: 15pt;
            }
            strong.smallTopic {
                font-size: 13pt;
                line-height: 15pt;
            }
            video /*设置视频格式和图片一样*/
            {
                display: block;
                width:480pt;
                height:270pt;
                object-fit:contain;
                border-width:2pt;
                border-color:forestgreen;
                border-style:inset;
            }
            table,tr,th,td /*表格样式设置*/
            {
                border: 1px solid black;
                border-collapse: collapse;
                padding: 3px;
            }

            #specialList ul
            {
                background-color: #6666ff;
                border:1px solid #000000;
                width:100px;
            }
            #specialList li
            {
                background-color: #cccccc;
                border:1px solid #ffff00;
            } 

            

            /*超链接样式*/
            a
            {
                font-family: 思源黑体;
                font-weight: bold;
                text-decoration: none;
            } 
            a:link
            {
                color: #6479A0;
            }
            a:visited
            {
                color: #CCCCCC;
            }
            a:hover
            {
                color:#ff0000
            }
            a:focus,a:active
            {
                color:#e03a3e;
            }

