@font-face 
{
    font-family: "思源黑体";
    src: url("../0_Resoureces/font/思源黑体/思源黑体\ CN-NORMAL.otf"); /*设置本地字体读取的位置*/
}
@font-face
{
    font-family: "思源臻宋";
    src:url("../0_Resoureces/font/思源屏显臻宋.ttf"); /*添加思源屏显臻宋字体*/
}

.imgBackground
{
    /* background: #dfdfdf; */
    width: 743px;
    height:614px;
    background: url(../0_Resoureces/img/gameScreen/封面.png) center bottom;
    /* background-color: rgba(255,255,255,0.2); */
}

body /*如果什么都没有设置的用这个设置*/ 
{
    font-size: 12pt;
    font-weight:normal;
    color: black;
    font-family: 思源臻宋,Arial,Verdana,sans-serif;
    line-height: 15pt;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5pt;
    text-align: left;
    background-color: #eaebee;
}

article
{
    margin:0 19%;
    padding:1px;
    width:62%;
}
/*导航样式*/
aside
{
    position: fixed; /* 固定定位 */
    top: 0; /* 距离顶部的距离 */
    left: 0; /* 距离左侧的距离 */
    width: 18%; /* 侧边栏宽度 */
    height: 95%; /* 高度撑满整个窗口 */
    overflow-y: auto; /* 垂直方向上显示滚动条 */
    border: 1px solid #ccc; /* 边框 */
    padding: 10px; /* 内边距 */
}
nav
{
    position: fixed; /* 固定定位 */
    top: 0; /* 距离顶部的距离 */
    right: 0; /* 距离左侧的距离 */
    width: 18%; /* 侧边栏宽度 */
    height: 95%; /* 高度撑满整个窗口 */
    overflow-y: auto; /* 垂直方向上显示滚动条 */
    border: 1px solid #ccc; /* 边框 */
    padding: 10px; /* 内边距 */
}

nav ul,aside ul
{
    padding:1px;
    margin: 1px 1px 1px 12px;
    background-color:rgb(49, 95, 49);
    color:#ffffff;
}
nav li,aside li
{
    list-style-type: none;
    font-family: 思源臻宋;
    font-size: 12pt;
    font-weight:lighter;
    line-height:15pt;
}

footer
{
    border-top: 30px solid #eaebee;
}
h1 /*大标题*/
{
    font-family: 思源黑体;
    font-size: 20pt;
    font-weight: bold;
    line-height: 20pt;
    text-align:center;
}
h2
{
    font-size: 16pt;
    line-height: 18pt;
}
h3
{
    font-size: 14pt;
    line-height: 16pt;
}

p,li,pre /*最常用的字体大小,绝大部分文章都是这个大小,通过strong来加粗*/ 
{
    font-family: 思源臻宋;
    font-size: 12pt;
    font-weight:lighter;
    line-height:15pt;
}

img 
{
    width: 512px;
    height: auto;
}
/* 图片文本组合类型 */
figure 
{
    text-align: center;
    display: block;
    margin: 5px auto;
    padding: 0;
}

figure p
{
    font-size: 12pt;
    line-height: 16pt;
    font-weight:lighter;
    text-align: center;
    width: 80%;
    padding: 0% 10%;
}
figure li
{
    font-size: 14pt;
    line-height: 16pt;
    font-weight:lighter;
    text-align: left;
}
div 
{
    font-size: 12pt;
    font-weight: lighter;
    line-height: 15pt;
}

video /*设置视频格式和图片一样*/
{
    display: block;
    width:480pt;
    height:270pt;
    object-fit:contain;
    border-width:2pt;
    border-color:forestgreen;
    border-style:inset;
}

/*超链接样式*/
a
{
    font-family: 思源臻宋;
    font-weight: lighter;
    text-decoration: none;
} 
a:link
{
    color: #FFFFFF;
}
a:visited
{
    color: #CCCCCC;
}
a:hover
{
    color:#ff0000
}
a:focus,a:active
{
    color:#e03a3e;
}


/* 字体等级设置 */
section
{
    font-weight: bold;
}

p.timeStamp
{
    color: red;
    border: 1px solid black;
}
