/* ------------------------------------字体样式设置部分-------------------------------------- */
@font-face 
{
    font-family: "思源黑体";
    src: url("../0_Resoureces/font/思源黑体/思源黑体\ CN-NORMAL.otf"); /*设置本地字体读取的位置*/
}
@font-face
{
    font-family: "思源臻宋";
    src:url("../0_Resoureces/font/思源屏显臻宋.ttf"); /*添加思源屏显臻宋字体*/
}

/* 设定除了这三个类以外的字体都统一 */
*:not(.chapter):not(.section):not(.paragraph):not(.header)
{
    font-size: 12pt;
    font-family: 思源臻宋,Arial,Verdana,sans-serif;
    line-height: 14pt;   
}

/* 四个特殊的类,header对应书本名,chapter对应章,section对应节,paragraph对应段 */
.header
{
    font-size: 20pt;
    line-height: 22pt;
    font-weight:bold;
    text-align: center;
}
.chapter
{
    font-size: 18pt;
    line-height: 20pt;
    font-weight:bold;
    text-align: left;
}

.section
{
    font-size: 16pt;
    line-height: 18pt;
    font-weight:bold;
    text-align: left;
}

.paragraph
{
    font-size:14pt;
    line-height: 16pt;
    font-weight:bold;
    text-align: left;
}

/* 总体设置 */
body
{  
    background-color: #eaebee;   
}


article
{
    text-align: left;
    margin:0 19%;
    padding:1pt;
    width:60%;
}

footer
{
    text-align: center;
}


/*导航样式*/
aside
{
    position: fixed; /* 固定定位 */
    top: 0; /* 距离顶部的距离 */
    left: 0; /* 距离左侧的距离 */
    width: 18%; /* 侧边栏宽度 */
    height: 100%; /* 高度撑满整个窗口 */
    overflow-y: scroll; /* 开启垂直滚动条 */
    background-color:rgb(49, 95, 49);
    color:#ffffff;
    padding: 1pt;
}
nav
{
    position: fixed; /* 固定定位 */
    top: 0; /* 距离顶部的距离 */
    right: 0; /* 距离右侧的距离 */
    width: 18%; /* 侧边栏宽度 */
    height: 100%; /* 高度撑满整个窗口 */
    overflow-y: scroll; /* 开启垂直滚动条 */
    padding: 1pt;
}

nav ul,aside ul
{
    background-color:rgb(49, 95, 49);
    color:#ffffff;
}
nav li,aside li
{
    list-style-type: none;
}

/* 图片和视频设置 */
img 
{
    /* 设置最大宽度60%,超过就会缩放到宽度60% */
    max-width: 60%;
    width: auto;
    height: auto;
}

figure 
{
    text-align: center;
    display: block;
    margin: 5pt auto;
    padding: 0;
}


figure p
{
    font-size: 12pt;
    line-height: 16pt;
    font-weight:lighter;
    text-align: center;
    width: 60%;
    padding: 0% 20%;
}
figure li
{
    font-size: 14pt;
    line-height: 16pt;
    font-weight:lighter;
    text-align: left;
}


video /*设置视频格式和图片一样*/
{
    display: block;
    width:480pt;
    height:270pt;
    object-fit:contain;
    border-width:2pt;
    border-color:forestgreen;
    border-style:inset;
}

/*超链接样式*/
a
{
    font-weight: lighter;
    text-decoration: none;
} 
a:link
{
    color: #FFFFFF;
}
a:visited
{
    color: #CCCCCC;
}
a:hover
{
    color:#ff0000
}
a:focus,a:active
{
    color:#e03a3e;
}


/* 时间戳 */

p.timeStamp
{
    border-bottom: 1pt solid red;
    width:90%;
}
